{{ define "main" }}
  <header id="header">
    <h1>{{ .Title }}</h1>
    <p>{{ .Params.desc }}</p>
  </header>
  <nav id="nav">
    {{ $list := (.Site.RegularPages.ByParam "order").Reverse }}
    {{ $pg := . }}
      <ul>
          <li>
            {{ range $index, $element := $list }}
              {{ if eq $element.Title $pg.Title }}
                {{ $idx := add -1 $index }}
                {{ $pg := index $list $idx }}
                {{ if ge $idx 0 }}
                  <a href="{{ $pg.Permalink }}"><span class="fa fa-backward"></span> &nbsp; {{ $pg.Title }}</a>
                {{ end }}
              {{ end }}
            {{ end }}
          </li>
          <li><a href="{{ .Site.Home.Permalink }}"><span class="fa fa-home"></span> Home</a></li>
          <li><a href="{{ .Site.Home.Permalink }}project">All Projects <span class="fa fa-level-up"></span></a></li>
          {{ $pg := . }}
          <li>
            {{ range $index, $element := $list }}
              {{ if eq $element.Title $pg.Title }}
                {{ $idx := add 1 $index }}
                {{ $pg := index $list $idx }}
                {{ if lt $idx (len $list) }}
                  <a href="{{ $pg.Permalink }}">{{ $pg.Title }} &nbsp; <span class="fa fa-forward"></span></a>
                {{ end }}
              {{ end }}
            {{ end }}
          </li>
      </ul>
  </nav>
  <div id="main">
    <section id="content" class="main">
      <span class="image main">
          <img src="{{ .Params.img | relURL }}" alt="{{ .Params.img_desc }}" />
      </span>
      {{ .Content }}
    </section>
  </div>
{{ end }}
